@model IEnumerable<TestMVCWeCoin.Models.User>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>WeCoin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    @{
        ViewBag.Title = "Lista de Posts";
        Layout = "~/Views/Shared/_LayoutPostList.cshtml";
    }
    <div class="container text-center" style="margin-top: 3%">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <p><a href="#">My Profile</a></p>
                    <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                </div>
                <div class="well">
                    <p><a href="#">Interests</a></p>
                    <p>
                        <span class="label label-default">News</span>
                        <span class="label label-primary">W3Schools</span>
                        <span class="label label-success">Labels</span>
                        <span class="label label-info">Football</span>
                        <span class="label label-warning">Gaming</span>
                        <span class="label label-danger">Friends</span>
                    </p>
                </div>
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <p><strong>Ey!</strong></p>
                    People are looking at your profile. Find out who.
                </div>
            </div>
            <div class="col-sm-7">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-left">
                            <div class="panel-body">
                                <textarea rows="3" placeholder="Digite seu post aqui" class="form-control z-depth-1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImgURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Posts)
                        </th>
                        <th>
                            Actions
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                <img src="@Url.Content(item.ImgURL)" style="width: 30px; height: 30px;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @foreach (var item2 in item.Posts)
                                {
                                    @Html.DisplayFor(modelItem => item2.Content)    
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="col-sm-2 well">
                <div class="thumbnail">
                    <p>MINERAR AQUI</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
